* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: white;
}

.ball {

    display: grid;
    place-content: center;

    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: green;

    margin: 0 auto;

    font-size: 22px;
    font-weight: bold;
}